:root{
  --bg-color: #F3EFEC;;
  --text-color: #312A4E;;
  --accent-color: #FFAB6B;
  --main-font: "Raleway";
  --accent-font: "STIX Two Text";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font), serif;
  line-height: 90%;
  text-align: center;
  font-weight: 600;
}

.header{
  padding-top: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-start: 10%;
  margin-block-end: 40px;
}

.content-section {
  padding: 0 5vi;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block a{
  color: currentColor;
}

.content__blockquote {
  inline-size: 75%; /*width: 75%;*/
  margin-inline: auto; /* вместо margin: 0 auto;*/
  margin-block-end: 1.5em;
  font-style: italic;
  line-height: 200%;
}

.content__list {
  list-style: none;
  /* text-indent: 40px; */
  padding: 0 0 0 40px;
}

.content__list li{
  position: relative;
}


.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list li::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  margin-block-start: -7.5px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inset-block-start: 50%;
  inset-inline-start: -25px;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-size: 30px;
  margin-inline-end: 1px;
  padding: 0 4px;
  font-weight: 700;
}